/* -*- css-indent-offset: 8; indent-tabs-mode: t -*- */

h1.bookkeeper img {
	vertical-align: -2px;
	margin-right: 4px;
}

#bookkeeper-overview {
	display: inline-block;
	width: auto;
	border: outset 1px #A0B1C9;
	margin-bottom: 2ex;
	padding: 5px;
}

#bookkeeper-overview table {
	text-align: inherit;
	border-collapse: collapse;
}

#bookkeeper-overview th {
	padding: 0 2px;
	background: #a1a1af;
	color: #00001c;
	font-weight: bold;
	text-align: center;
	border-left: solid 2px #00001c;
	border-right: solid 2px #00001c;
}

#bookkeeper-overview th.c {
	background: #3b3b49;
	border: none;
}

#bookkeeper-overview th.sort {
	cursor: pointer;
}

#bookkeeper-overview tbody {
	cursor: crosshair;
}

#bookkeeper-overview tbody tr:hover {
	background-color: #1a1a36;
}

#bookkeeper-overview td {
	border: solid 1px #1a1a36;
}

#bookkeeper-overview td.r,
#bookkeeper-overview td.c {
	text-align: right;
}

#bookkeeper-overview td.red{
	color:red;
	text-align: right;
}

#bookkeeper-overview td.yellow{
	color:yellow;
	text-align: right;
}
