/* Stylesheet loaded by iframes. Replicates Pardus style. */

body {
	margin: 0;
	padding: 0;
	background: transparent;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #A1A1AF;
	text-align: center;
	overflow: hidden;
}

#overview {
	background: #00001C;
	border: outset 1px #A0B1C9;
	height: 100%;
	left: 50%;
	margin-bottom: 2ex;
	margin: 0 auto;
	min-width: 320px;
	max-width: 100%;
	overflow: auto;
	padding: 5px;
	position: absolute;
	transform: translate(-50%,0);
}

#overview table {
	margin: 0 auto 8px auto;
	border-collapse: collapse;
}

/* should be a 'sortable' class really */
#overview thead th {
	cursor: pointer;
}

#overview th {
	padding: 0 2px;
	background: #a1a1af;
	color: #00001c;
	font-weight: bold;
	text-align: center;
	border-left: solid 2px #00001c;
	border-right: solid 2px #00001c;
}

#overview th img {
	vertical-align: middle;
}

#overview th.c {
	background: #3b3b49;
	border: none;
	color: #a1a1af;
}

/* make these wider, otherwise they start to wrap */
#overview th.time {
	min-width: 5em;
}

#overview th.asc::after {
	content: "▲"
}

#overview th.dsc::after {
	content: "▼"
}

#overview tbody {
	cursor: crosshair;
}

#overview tbody tr:hover {
	background-color: #1a1a36;
}

#overview td {
	border: solid 1px #1a1a36;
}

#overview td.r,
#overview td.c {
	text-align: right;
}

/* Colours for profit/deficit from the trade log screens */
#overview td.lime {
	color: #8AB797;
}
#overview td.pink {
	color: #B78A8E;
}
